
/*spacing removed from the top by having body inherit these props*/ 
/*.intro-background, body{ 
    background-color: azure;
    background-image: url("/images/bg-hero-mobile.svg");
    width: auto;
    height: 600px;
    margin: 0px;
    padding: 0px;
}*/

/*max-width removes default margin on div with id of logo*/
/*#header {
    margin: 0px;
    padding: 10px 5px 5px 10px;
    max-width: 100%; 
    float: left;
    
}*/

button.btn {
    /*display: inline-block;*/
    /*max-width: 100%;*/
    height: 0px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 1px #ccc;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    padding: 5px 20px 22px;
    background-color: white;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.pinkBtn {
    text-align: center;
    top: 50%;
}

.btn2 {
    position: absolute;
    cursor: pointer;
    border: none;
    font-size: 14px;
    padding: 10px 80px 10px 80px;
    margin: 0px;
    border-radius: 20px;
    background-color: #FF00FF;
}

/*when screen is 375 or smaller(mobile) background will execute*/
@media only screen and (max-width: 375px) {
    body {
        background-color: white;
        background-image: url("/images/bg-hero-mobile.svg");
        background-color: azure;
    }

    .huddle-logo {
        display: inline-block;
        margin-top: 20px;
        height: 20px;
        width: 90px;
        padding: 10px 5px 5px 10px;
    }
}

/*when desktop is greater than 375 background will execute*/
@media only screen and (min-width: 376px) {
    body {
        background-image: url("/images/bg-hero-desktop.svg");
        background-color: azure;
    }

    .button {
        cursor: pointer;
    }
}

.text1 {
    margin: 70px 50px 20px 40px; /*top, right, left, bottom*/
    padding: 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    word-spacing: 1.5px;
}

.text2 {
    padding: 0px;
    margin: 50px 50px 50px 50px; /*top, right, left, bottom*/
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

